<section class="container py-4 home">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <input
        type="search"
        class="form-control form-control-lg mb-4"
        placeholder="Search here"
      />

      <div class="row gy-4">
        <div *ngFor="let item of toolList" class="col-md-6">
          <div
            [routerLink]="['/toolDetails', item.ToolID]"
            class="card text-dark h-100"
          >
            <h3>toolId: {{ item?.ToolID }}</h3>
            <p>{{ item?.Category }}</p>
            <p>{{ item?.Details }}</p>

            <div class="card-body">
              <h5 class="card-title">Tool Name: {{ item.Name }}</h5>
              <a
                [href]="item?.InstructionalVideoURL"
                target="_blank"
                class="btn btn-primary mt-3"
                >Visit
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
