/* You can add card-specific styles here */
.card {
    /* Optional: define a max width for the cards for better control on large screens */
    max-width: 370px;
    height: 254px;
    margin: 0 auto; 
    ;
 background-color: var(--50, #EFF6FF);;
 border-radius: 20px;
overflow: hidden;
  }
 .card-title{
    font-size: 24px;
 }
  .card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color:  var(--50, #EFF6FF);;
    border-bottom:none;
}
.card-footer {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    color: var(--bs-card-cap-color);
    background-color: var(--50, #EFF6FF);;
    border-top:none;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem 0;
    color: var(--bs-card-color);
    background-color: var(--50, #EFF6FF);;

}

